.question {
    //background: #f0f0fa;
    border-radius: 16px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    padding: 20px;
    margin-bottom: 12px;
    background: linear-gradient(to left, rgb(224, 218, 218), rgb(233, 233, 233));
    background: linear-gradient(to right,rgb(233, 233, 233), rgb(233, 233, 233));

    & + .question {
        margin-top: 12px;
    }

    > p {
        color: #000000 !important;
        background: none !important;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
    }

    .user-info {
        display: flex;
        align-items: center;

        img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          margin-top: 2px;
        }

        span {
          margin-top: 2px;
          margin-left: 10px;
          color: #000000;
          font-size: 16px;
          font-weight: lighter !important;
        }
    }
}